@use './variables' as v;

@mixin card {
  background: v.$color-bg;
  border: 1px solid v.$color-border;
}

@mixin rounded($r: v.$radius-md) {
  border-radius: $r;
}

@mixin shadow($s: v.$shadow-soft) {
  box-shadow: $s;
}

@mixin hover-lift {
  transition: transform v.$time-mid v.$ease, box-shadow v.$time-mid v.$ease;
  will-change: transform, box-shadow;

  &:hover, &:focus-within {
    transform: translateY(-2px);
    box-shadow: v.$shadow-hover;
  }
}
