.seo-intro {
  .seo-intro__title { margin-bottom: .5rem; }

  .seo-intro__lead {
    line-height: 1.6;
    strong { font-weight: 600; }
  }

  .seo-intro__inner {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .seo-intro__figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    img { display: block; width: 50%; height: auto; }
  }

  .seo-intro__content {
    line-height: 1.75;
    margin: 0 auto;
    p { margin-bottom: 1rem; }
    a { text-decoration: none; }
  }

  .seo-intro__links {
    li { display: block; }
    a { text-decoration: none; }
  }
}
